*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/header.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 20px;   
}

nav ul li a{
    color: #080808;
    text-decoration: none;
    font-size: 30px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    margin-left: 40%;
    font-size: 30px;   
}

.header-text h2{
    color: black;
}

.header-text h1{
    font-size: 60px;
    position: 20rem ;
}

.header-text h1 span{
    color: #ff004f;
}
/*-----------------------------------------------------about--------------------------------------------------------*/
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 120%;
    height: 100%;
    border-radius: 10px;
}

.about-col-2{
    flex-basis: 55%;
}
.sub-sitle{
    font-size: 60px;
    font-weight: 600;
    margin-left: 30%;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 10px 0px 5px;
}
.tab-links{
    margin-right: 10px;
    font-size: 35px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    color: white;
    display: flex;
}
.tab-contents{
    display: inline-block;
    margin: 0% 8% 0 2%;
}
.tab-contents ul li span{
    color: white;
}
/* ------------------------------------------------------services ----------------------------------------------------------*/
.tab-contents1{
    display: inline-block;
    margin: 2%;
}
.tab-contents1 ul li span{
    cursor: pointer;
    color: white;
    font-weight: 600;
}
.tab-contents1 ul li{
    padding: 5%;
}
.about-col-pic img{
    width: auto;
    height: 90%;
    border-radius: 10px;
    position: absolute;
    margin-left: 50%;
    margin-top: -48%;
}
/* -------------------------------------------------contacts ------------------------------------------------------------*/
.about-col-0 img{
    width: 30rem;
    height: 40rem;
    border-radius: 10px;
    margin-left: 100px;
}

.about-col-2 h2{
    justify-content: center;
    margin: 2% 0 2% 10%;
    color: lightblue;
}
.about-col-2 p{
    justify-content: center;
    margin: 2% 0 0 10%;
    font-size: 20px;
}
/* -------------------------------------------------footer ------------------------------------------------------------- */
#footer{
    width: 100%;
    height: 100vh;
    background-image: url(images/footer.jpg);
    background-size: cover;
    background-position: center;
}
.menu{
    margin-top : 200px;
    font-size: 200px;
}
